body {
    margin: 0;
    background-color: rgb(252, 245, 235);
    font-family: 'Brush Script MT', cursive;
}


ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    background-color: rgb(252, 245, 235);
}

ul li a {
    display: block;
    color: rgb(10, 10, 10);
    text-decoration: none; 
    font-weight: bold;
    padding: 8px 16px;
    text-align: center;
}

ul li a:hover {
    background-color:  rgb(192, 183, 183);
    color: black;
}

ul li a.active{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


h1, h2, p {
    color: rgb(0, 0, 0);
    text-align: center;
}

img {
    max-width: 100%;
    align-self: center;
    max-height: 500px;
    height: 30%;
    width: 100%;
    display: block;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 0.2);

}

@media (max-width: 764px) {
    ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: rgb(252, 245, 235);
    }
}

@media (max-height: 700px) {
    h1, h2 {
        font-size: 20px;
    }
}