body {
    margin: 0;
    background-color: rgb(252, 245, 235);
    font-family: "Dancing Script", cursive;
}

p {
    margin-left: 50px; 
    margin-right: 50px; 
    line-height: 2.5rem;
    font-family: "Caveat Brush", Arial;
}



ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    background-color: rgb(252, 245, 235);
}

ul li a {
    display: block;
    color: rgb(10, 10, 10);
    text-decoration: none; 
    font-weight: bold;
    padding: 8px 16px;
    text-align: center;
    font-size: 24px;
}

ul li a:hover {
    background-color:  rgb(192, 183, 183);
    color: black;
}

ul li a.active{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


h1, h2, p {
    color: rgb(0, 0, 0);
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 500px;
    height: 30%;
    width: 100%;
    max-width: 1099px;
    display: block;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 0.2);
    margin: 0 auto;

}

@media (max-width: 764px) {
    ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: rgb(252, 245, 235);
    }

    ul li a {
        font-size: 18px;
    }
}

@media (max-height: 700px) {
    h1, h2 {
        font-size: 20px;
    }
}

